<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-head">
				<div class="col-md-8 footer-top animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
					<ul class=" in">
						<li><a href="index.php">Accueil</a></li>
						<li><a  href="menu.php">Menu</a></li>
						<li><a  href="forum.php">Forum</a></li>
						<li><a  href="contact.php">Contact</a></li>
					</ul>					
						<span>There are many variations of passages</span>
				</div>
				<div class="col-md-4 footer-bottom  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
					<h2>Follow Us</h2>
					<label><i class="glyphicon glyphicon-menu-up"></i></label>
					<p>COOKING est un site de recettes de cuisine en ligne gratuit. Parcourez nos pages à la recherche de recettes gourmandes, illustrées par des photographies alléchantes</p>
						
					</ul>

				</div>
			<div class="clearfix"> </div>
					
			</div>
			<p class="footer-class animated wow bounce" data-wow-duration="1000ms" data-wow-delay="500ms">&copy; 2016 Cooking . All Rights Reserved </p>
		</div>
	</div>		
	<!--//footer-->